:root {
    --bg-color: #011627;
    --title-color: #2EC4B6;
    --entry-color: #F6F7F8;
    --column-titles-color: #FF3366;
}

body {
    font-family: Helvetica, sans-serif;
    background: var(--bg-color);
    text-align: center;
    align-items: center;
    margin: 5vh 4vw;
}

h1 {
    color: var(--title-color);
    font-size: 2rem;
}

th {
    color: var(--column-titles-color);
    font-weight: bold;
}

td {
    padding-left: 5vw; 
    padding-right: 5vw;
}



#books {
    color: var(--entry-color);
    margin: auto;
    font-size: 1.5rem;
}
